{% extends "base.html" %}
{% block body %}
<form method="POST">
    <div class="row">
        <div class="input-field col s9">
            <input type="text" name="username" id="username" />
            <label for="username">Username</label>
        </div>
        <div class="input-field col s3">
            <input type="text" name="enroll_key" id="enroll_key" />
            <label for="enroll_key">Enrollment key</label>
        </div>
    </div>
    <div class="row">
        <button class="btn" type="submit">register</button>
    </div>
</form>
{% endblock %}
